<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="CrossAsyst">
  <parameter name="url" value="http://www.automationpractice.com/index.php"></parameter>
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="crossasyst.assignment.TC_CheckoutOrderWithUserRegistration"/>
    </classes>
  </test> <!-- CrossAsyst -->
</suite> <!-- Suite -->
